<div id="wrapper">
  <!-- 
    HEADER 
  -->
  <header>
    <nav class="navbar navbar-inverse " role="navigation">
      <!-- 
        important: Menue for mobile 
      -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle btn" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Men&uuml;</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- 
            Logo
          -->
          <a class="navbar-brand" href="/">
            <img src="../assets/logo/gc_logo.png" />
          </a>
        </div>

        <!-- 
          Mainmenue
        -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Portfolio <span class=" icon-arrow-down3"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/portfolio-item">Single Portfolio</a></li>
                <li><a href="/portfolio-1-col">Portfolio 1 Spalten</a></li>
                <li><a href="/portfolio-2-col">Portfolio 2 Spalten</a></li>
                <li><a href="/portfolio-3-col">Portfolio 3 Spalten</a></li>
                <li><a href="/portfolio-4-col">Portfolio 4 Spalten</a></li>
              </ul>
            </li>
            <!-- example dropdown for Link 4 -->
            <li><a href="/goldencobra-ui">UI</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
  </header>
</div><!-- / #wrapper -->