$white: #FFF;
$superlightgrey: #c3c3c3;
$lightgrey: #676B77;
$grey: #676B77;
$darkgrey: #262D35;
$lightgreen: #f6f6f4 ;
$bodycolor: #F3F7F9;
$green: #F7505A;
$darkgreen: #F7505A;
$blue: #7bbbcf;



/* Fonts */
$font_text_default: 'Source Sans Pro', Arial, sans-serif;
$font_size_default: 16px;
$line_height_default: 1.5em;
$letter_spacing_default: normal; //0.02em;
$letter_spacing_headline: normal; //0.025em;
$text_transform: uppercase;
$text_weight_default: 400;
$text_weight_bold: 600;

/* Headlines */
$h_color_content: $green;
$h_color_aside: #505353;
$h_color_footer: #505353;

/* Texts */
$txt_color_default: $grey;
$txt_color_aside: #959999;
$txt_color_footer: #959999;
$txt_color_slider: #636E2A;

$article_color_default: #333333;

/* Transition */
$transition_default_time: 0.5s;

/* Links */
$link_color_default: #959999;
$link_color_active: #636E2A;
$link_color_hover: #636E2A;
$link_color_footer: #959999;

/* Buttons */
$btn_color: $white;
$btn_font_weight: $text_weight_bold;
$btn_text_transform: $text_transform;
$btn_transition: all $transition_default_time;
$btn_shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.3);
$btn_border_radius: 0;
$btn_primary_background: $green;
$btn_primary_background_hover: darken($green,16%);
$btn_secondary_background: $blue;
$btn_secondary_background_hover: darken($blue,16%);

$btn_default_padding: 10px 16px 8px;
$btn_large_padding: 10px 16px 9px;
$btn_samll_padding: 7px 10px 5px;

/* Forms */
$input_border_radius: 0;
$input_border: none;
$input_font_size: 1em;
$input_transition: background-color $transition_default_time;

/* Borders */
$border_color_default: #DFE0E0;
$border_bottom_color_hover: #636E2A;
$border_mobile_navigation: #DFE0E0;

/* Backgrounds */
$body_background: $bodycolor;
$slider_background: #FCFFF8;
$footer_background: #FCFFF8;


/* Page */
$wrapper_max_width: 100%;
$wrapper_min_width: 320px;
$wrapper_margin: 0 auto;


/* Logo */
$brand_padding: 1px 0 3px 30px;

/* Navigation */
$nav_background: $white;
$nav_background_i: $darkgrey;
$nav_height: 72px;
$nav_line_height: 77px;
$nav-border: none !important;
$nav_box_shadow: none; //0 5px 8px -8px rgba(0,0,0,0.5);
$nav_border_radius: 0 !important;
$nav_margin_bottom: 0;
$nav_a_color: #373C44;
$nav_a_text_transform: $text_transform;
$nav_a_font_weight: $text_weight_bold;
$nav_a_letter_spacing: 0.05em;
$nav_a_font_size: 1em;
$nav_a_padding: 0 30px;
$nav_a_transition: all 0.5s;
$nav_a_hover_background: $green;
$nav_a_hover_color: $white;

/* Nav Mobile */
$navbar_toggle_background: $green;
$navbar_toggle_radius: 0;
$icon-bar_background: $white;


/* Slider */
$slider_height: 60%;
$slider_max_height: 350px;
$slider_box_shadow: none;
$slider_margin: 0 auto;
$slider_max_width: $wrapper_max_width;
$slider_min_width: $wrapper_min_width;
$slider_indicators_bottom: 0px; //( pos. is absolute )
$slider_caption_left: 0; //( pos. is absolute )
$slider_caption_right: 0;
$slider_caption_align: center;
$slider_caption_padding: 0 15px;
$slider_caption_background: transparent;
$slider_caption_h: $green;

/* Teaser */
$teaser_padding: 0;
$teaser_margin_bottom: 30px;
$teaser_radius: 0;
$teaser_border: none;
$teaser_box_shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
$teaser_caption_padding: 15px;
$teaser_caption_color: $txt_color_default;
$teaser_caption_h_margin_top: 0;
$teaser_caption_h_color: $darkgrey;
$teaser_caption_h_text_tranform: $text_transform;
$teaser_caption_h_font_size: 1.133em;
$teaser_caption_h_font_weight: $text_weight_bold;
$teaser_caption_p_font_size: 1em;
$teaser_caption_p_margin: 0;
$teaser_caption_p_line_height: 1.2em;
$teaser_caption_p_letter_spacing: normal; //0.01em;

/* Timeline */
$timeline_img_line: url("/assets/line.png") repeat-y center top transparent;
$timeline_img_line_responsive: url("/assets/line.png") repeat-y left top transparent;
$timeline_list_margin_top: 30px;
$timeline_list_padding_top: 50px;
$timeline_first_element_margin_top: -50px;

/* Timeline head */
$timeline_head_padding: 10px;
$timeline_head_border_bottom: 1px solid $lightgreen;

$timeline_pi_float: left;
$timeline_pi_img_size: 60px;
$timeline_pi_border_radius: $timeline_pi_img_size/2; 

$timeline_pn_margin: 12px 0 0;
$timeline_pn_color: $green;
$timeline_pn_font_size: 1.133em;
$timeline_pn_text_transform: $text_transform;
$timeline_pn_text_weight: $text_weight_bold;
$timeline_pn_text_letter_spacing: normal; //0.03em;

$timeline_pt_margin: -3px 0 0 0;
$timeline_pt_color: $lightgrey;
$timeline_pt_font_size: normal; //0.9em;

$timeline_status_color: $darkgrey;
$timeline_status_font_size: 1.067em;
$timeline_status_font_weight: $text_weight_default;
$timeline_status_text_transform: none;
$timeline_status_line_height: 1.2em;
$timeline_arrow_timeline_color: $green;
$timeline_arrow_teaser_color: $white;
$timeline_arrow_size: 6px;


/* Aside */
$aside_section_margin: 0 0 30px 0;
$aside_list_shadow: none; //0 13px 8px -10px rgba(0, 0, 0, 0.1);

$aside_list_h_margin: 0;
$aside_list_h_height: 35px;
$aside_list_h_font_size: 1em;
$aside_list_h_font_weight: $text_weight_bold;
$aside_list_h_text_transform: $text-transform;
$aside_list_h_letter_spacing: 0.05em;
$aside_list_h_a_padding: 5px 15px 0;
$aside_list_h_a_background: #fff;
$aside_list_h_a_background_hover: $green;
$aside_list_h_a_color: $txt_color_default;
$aside_list_h_a_hover_color: $green;
$aside_list_h_a_transition: background-color $transition_default_time;
$aside_list_li_h_font_size: 1em;
$aside_list_li_h_margin: 0;

$aside_search_height: 60px;
$aside_search_btn: $aside_search_height;
$aside_search_btn_arrow_size: 10px;


/* Footer */
$footer_background: darken($bodycolor, 4%);
$footer_margin: 0;
$footer_padding: 10px 0;

/* List */
$list_background_default: $white;
$list_margin_default: 0;
$list_padding_default: 0;
$list_style_default: none;
$list_separator_default: 1px solid $white;
$list_link_color: $txt_color_default;
$list_link_padding: 15px;
$list_link_transition: background-color $transition_default_time;
$list_h_color_default: $green;
$list_h_font_weight: $text_weight_bold;



