.content {

	

}

.page-header {
  margin: $h_page_header_margin;
  border-bottom: none;
}

.start-article {
	background: $start-article_background;
	padding: $start-article_padding;
	
	h3 { margin: $start-article_h_margin;}
}

