<!--
  Aside
  for one Image
-->
<section>
  <h4>This is a aside field</h4>
  <p>You can put any content in here.</p>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</section>
<section>
  <h4>Contact</h4>
  <p>
    ikusei GmbH<br />
    Zossener Str. 55-58<br />
    Haus 4, Aufgang D<br />
    10961 Berlin-Kreuzberg<br />
  </p>
</section>