<%
 # Template: Boa
 # Implemtiert: Boa Startseite
 # Bildergallerie oder Artikelgalerie
%>
<div class="row mansonry-list">
  <% 2.times do %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tmi">
      <div class="thumbnail start">
      <img class="img-responsive" src="../assets/web/examples/Bildschirmfoto-2013-11-27-um-12.05.04_sm.jpg">
        <div class="caption">
          <h3>
            Lorem Ipsum
          </h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tmi">
      <div class="thumbnail start">
        <img class="img-responsive" src="../assets/web/examples/IMG_8584_Fotor2_sm.jpg">
        <div class="caption">
          <h3>
            Lorem Ipsum
          </h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tmi">
      <div class="thumbnail start">
      <img class="img-responsive" src="../assets/web/examples/IMG_8595_Fotor2_sm.jpg">
        <div class="caption">
          <h3>
            Lorem Ipsum
          </h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tmi">
      <div class="thumbnail start">
        <img class="img-responsive" src="../assets/web/examples/Cityscapes_linda_sm.jpg">
        <div class="caption">
          <h3>
            Lorem Ipsum
          </h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tmi">
      <div class="thumbnail start">
        <img class="img-responsive" src="../assets/web/examples/IMG_8565_Fotor2_sm.jpg">
        <div class="caption">
          <h3>
            Lorem Ipsum
          </h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tmi">
      <div class="thumbnail start">
        <img class="img-responsive" src="../assets/web/examples/IMG_8556_Fotor2_sm.jpg">
        <div class="caption">
          <h3>
            Lorem Ipsum
          </h3>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 hero-feature tmi">
      <div class="thumbnail start">
        <img class="img-responsive" src="../assets/web/examples/IMG_8584_Fotor2_sm.jpg">
        <div class="caption">
          <h3>
            Lorem Ipsum
          </h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
