<!--
  STAGE
  for one Image
-->
<div id="myCarousel" class="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('../assets/web/examples/IMG_8563_Fotor.jpeg');"></div>
      <div class="carousel-caption">
        <h1>
          ANACONDA TEMPLATE
        </h1>
      </div>
    </div>  
  </div>
</div>