<!--
  STAGE
  vorbereiteter Slider, falls mal verwendet werden soll
-->
<div id="myCarousel" class="carousel slide">

  <!-- Indicators or bullets to navigate to another slide-->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('../assets/web/examples/IMG_8565_Fotor2.jpeg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('../assets/web/examples/Cityscapes_linda.jpeg');"></div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('../assets/web/examples/IMG_8556_Fotor2.jpeg');"></div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-arrow-left2"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-arrow-right2"></span>
  </a>
</div>