<div class="jcarousel-wrapper">
        
  <!-- Carousel -->
  
    <div class="jcarousel" data-jcarousel="true">
      <ul style="left: 0px; top: 0px;">
          <li><img alt="" src="../assets/web/examples/Cityscapes_linda.jpeg"></li>
          <li><img  alt="" src="../assets/web/examples/IMG_8565_Fotor2.jpeg"></li>
          <li><img  alt="" src="../assets/web/examples/IMG_8587_Fotor.jpeg"></li>
          <li><img  alt="" src="../assets/web/examples/IMG_8569_Fotor.jpeg"></li>
          <li><img alt="" src="../assets/web/examples/IMG_8572_Fotor2.jpeg"></li>
          <li><img alt="" src="../assets/web/examples/IMG_8585_Fotor.jpeg"></li>
      </ul>
  </div>

                <!-- Prev/next controls -->
                <a class="jcarousel-control-prev inactive" href="#" data-jcarouselcontrol="true"><span class="icon-arrow-left2"></span></a>
                <a class="jcarousel-control-next" href="#" data-jcarouselcontrol="true"><span class="icon-arrow-right"></span></a>

                <!-- Pagination -->
                <p class="jcarousel-pagination" data-jcarouselpagination="true"><a href="#1" class="active">1</a><a href="#2">2</a></p>

            </div>