<footer class="wrapper">
  <div class="footer-first">
    <div class="container">
      <div class="row">
        <span class="icon-facebook"><a href="">Folge uns auf Facebook</a></span>
        <span class="icon-googleplus"><a href="">Folge uns auf Google+</a></span>
      </div>
    </div>
  </div>
  <div class="footer-second">
     <div class="container">
      <div class="row">
        <img src="../assets/logo/gc_logo_footer.png" class="footer-logo" /><br />
        © 2013, Golden Cobra. All rights reserved<br />
        Designed and built by ikusei - Template built with Bootstrap3
      </div>
    </div>
  </div>
</footer>

<%= render partial: "/layouts/share/js_includes" %>