<footer class="wrapper">
  <div class="footer-second">
     <div class="container">
      <div class="row">
        <img src="../assets/logo/gc_logo_footer.png" class="footer-logo" /><br />
        © 2013, golden cobra. All rights reserved<br />
        Designed and built by ikusei
      </div>
    </div>
  </div>
</footer>

<%= render partial: "/layouts/share/js_includes" %>