<!--
  STAGE
  for one Image
-->
<div id="myCarousel" class="carousel slide">

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url('../assets/web/gc_stage_image.jpg');"></div>
      <div class="carousel-caption">
        <h1>Golden Cobra</h1>
      </div>
    </div>  
  </div>
 
</div>