<!-- 
  Timeline
  // Startseite: Alle Läufer bis 6 Einträge, dann nachladen per Ajax
  // Profilseite: Läufer bis 6 Einträge, dann nachladen per Ajax
-->
<div class="row timeline-list">
  <div class="col-lg-6 col-md-6 hero-feature tmi">
    <div class="thumbnail start">
      <div class="caption">
        <img src="../assets/logo/gc_logo_footer.png">
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 hero-feature tmi">
    <div class="thumbnail">
      <!-- Header -->
      <div class="head">
        <!-- Arrows -->
        <div class="time-pos">
          <div class="arrow"></div>
        </div>
        <img class="img-responsive" src="http://www.placehold.it/700x400/C1CFD9/E9F0F4">
      </div>
      <div class="caption">
        <span class="kicker">Social Media</span>
        <h3 class="status">Lorem ipsum dolor sit amet.</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 hero-feature tmi">
    <div class="thumbnail important">
      <!-- Header -->
      <div class="head">
        <!-- Arrows -->
        <div class="time-pos">
          <div class="arrow"></div>
        </div>
      </div>
      <div class="caption">
        <span class="kicker">Heute 14:00 / UX Design</span>
        <h3 class="status">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 hero-feature tmi">
    <div class="thumbnail nice">
      <!-- Header -->
      <div class="head">
        <!-- Arrows -->
        <div class="time-pos">
          <div class="arrow"></div>
        </div>
      </div>
      <div class="caption">
        <span class="kicker">Heute 14:00 / UX Design</span>
        <h3 class="status">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 hero-feature tmi">
    <div class="thumbnail">
      <!-- Header -->
      <div class="head">
        <!-- Arrows -->
        <div class="time-pos">
          <div class="arrow"></div>
        </div>
        <img class="img-responsive" src="http://www.placehold.it/700x400/C1CFD9/E9F0F4">
      </div>
      <div class="caption">
        <span class="kicker">Social Media</span>
        <h3 class="status">Lorem ipsum dolor sit amet.</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 hero-feature tmi">
    <div class="thumbnail">
      <!-- Header -->
      <div class="head">
        <!-- Arrows -->
        <div class="time-pos">
          <div class="arrow"></div>
        </div>
      </div>
      <div class="caption">
        <span class="kicker">Social Media</span>
        <h3 class="status">Lorem ipsum dolor sit amet.</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 hero-feature tmi">
    <a class="btn btn-info btn-block btn-lg" href="#">weitere Beiträge laden</a>
  </div>
</div><!-- / .timeline-list -->
