/* Navigation Mainmenü */
/*********************************************************************************/
nav {
  background-color: $navbar_default_background;

  &.navbar-inverse {
    background-color: $navbar_inverse_background;
  }
}

@media (max-width: 768px) {
	.navbar-header {
		border-bottom: 1px solid $border-color;
	}

	.navbar-nav {
		margin: 0;
	}

	.navbar-form {
		padding: 15px 15px;
		margin: 0;
	}

	.container > .navbar-collapse {
		width: 100%;
		padding: 0;
		margin: 0;
		float: none;
		max-height: 1000px;

		ul > li {
			border-top: 1px solid $border-color;
			a { padding: 15px;}
		}
	}

	.dropdown-menu {
		padding: 0;
		> li { 
			padding: 0;
			> a { 
				padding: 10px 30px !important;
			}
		}
	}
}
