/* Portfolio Item */
.portfolio-item {
  margin-bottom: $portfolio_item_margin_bottom;

  h3 {
		color: $portfolio_item_h_color;
	}

  a,
  a:hover { text-decoration: none}
  > a:hover { 
  	
  	margin-top: 10px;
  }
}

.portfolio-inner {
	background-color: $portfolio_item_inner_background;
	padding: $portfolio_item_inner_padding;
	@include transition(all $transition_default_time);

	h3 {
		margin: $portfolio_item_h_margin;
	}

	p { margin: $portfolio_item_p_margin;}
}

.portfolio-item:hover {
	.portfolio-inner {
		@include box-shadow($shadow_default);
	}
}

.related-item {
	margin-bottom: 30px;
}

.thumbnail {
	padding: 0;
	@include border-radius(0);
	border: none;
	margin-bottom: 30px;

	.caption {
		background-color: $blue;
		color: $white;
		margin-top: -1px;

		.kicker {
			color: $darkgrey;
			opacity: 0.3;
		}
		h3,p { color: $white}
		h3 { margin: 0 0 10px;}

		p { 
			line-height: 1.2em;
			margin-bottom: 0px;
		}

	}

	&.important .caption {
		background-color: lighten($red, 5%);

		.arrow { border-color: $red;}
	}

	&.nice .caption {
		background-color: lighten(#7bc1a1, 5%);
		.arrow { border-color: lighten(#7bc1a1, 5%)}
	}

	&.start .caption {
		background-color: $darkgrey;
		text-align: center;
	}
}


/* Arrows in timline */
.timeline-list {
  .time-pos {
    width: 15px;
    height: 7px;
    display: block;
    position: absolute;
    margin-top: 27px;
    display: none;
  }

  .arrow {
    position: absolute;
  }

  .arrow { 
    left: 0;
    margin-top: 1px;
    @include arrow-right(10px, $darkgrey);
  }

  .col-md-6.tmi-right .time-pos { left: -5px; }
  .col-md-6.tmi-left .time-pos { right: 0; }
  .col-md-6.tmi-right .time-pos .arrow { @include arrow-left(10px, $darkgrey); border-left-color: transparent; }
 
}
